//web color
$primary: #b61984;
$color-text: #181818;
$white: #fff;
$about-bg-color: #dcd1f0;

//font size
$fs-1: 13px;
$fs-2: 16px;
$fs-3: 47.25px;
$fs-4: 57px;
$fs-5: 0.75rem;
$fs-6: 1.5rem;
$fs-7: 15px;
$fs-8: 25px;

//line height
$lineHeight: 1.5;
$lineHeight-md: 1.1;

//font weight
$fw-1: 400;
$fw-2: 600;
$fw-3: 500;

//break points
$breakpoints: (
  "extra-large": 1200px,
  "large": 999px,
  "medium": 768px,
  "small": 576px,
  "extra-large-down": 1199.98px,
  "large-down": 991.98px,
  "medium-down": 767.98px,
  "small-down": 575.98px,
);
