.form--input {
  border-radius: 20px;
  height: 100%;
  padding: 12px 0 12px 32px;
  margin-left: 8px;
  @include inputForm(#fff);
  &:focus {
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.form--footer {
  border-radius: 60px;
  width: 100%;
  height: 100%;
  border: 1px solid $primary;
  padding: 16px 0;
  @include inputForm(transparent);
  &:focus {
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);
    border: 1px solid #fff;
    background-color: transparent;
  }
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
    text-align: center;
  }

  &::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
    text-align: center;
  }

  & ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
    text-align: center;
  }
}
